################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CsharpHub/TestWeb/Db/Hangfire.db
/CsharpHub/TestWeb/Db/TestWeb.db
.vs
bin/
obj/
.vs/
.suo
/CsharpHub/TestWeb/Db/TestWeb.db-shm
*.db-wal
/CsharpHub/CAPPWebApi/Db
/CsharpHub/CAPPWebApi/.config
