@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="http://www.weather.com.cn/weather/101300106.shtml">building Web apps with ASP.NET Core</a>.</p>
</div>
